@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

.Bell:hover {
  position: relative;
  animation: bell-swing 2s infinite ease-in-out;
}

.Bell:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.Bell:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes bell-swing {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

